RewriteEngine On
RewriteCond %{HTTP_HOST} ^vrwebgenius.com [NC]
RewriteRule ^(.*)$ http://www.vrwebgenius.com/$1 [L,R=301]

RewriteEngine on


RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]